body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ece0e0;
    color: #333;
}
header {
    background: #448cd3;
    color: white;
    padding: 20px;
    text-align: center;;
}
nav {
    display: flex;
    justify-content: center;
    background: #005bb5;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: 0.3s;
}
nav a:hover {
    background: #003f7f;
    border-radius: 5px;
}
.blogs {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.img {
    width: 100%;
    border-radius: 5px;
}
.video {
    display: flex;
    justify-content: center;
    margin: 20px;
}
#about-me, #contact {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.contact form {
    display: flex;
    flex-direction: column;
}
.contact input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.contact button {
    background: #0073e6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.contact button:hover {
    background: #005bb5;
}
.footer {
    text-align: center;
    padding: 10px;
    background: #0073e6;
    color: white;
}
